@import "vars.css";

body{
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: var(--Black);
    background-image: url('../imgs/fundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
}
    .BackBtn{
        position: absolute;
        width: 21vw;
        height: 7vh;
        font-family: 'ComicBook';
        color: var(--Black);
        font-size: 3vh;
        border-radius: 15px;
        background-color: var(--Green);
        border: none;
        margin: 3vh 0vw 0vh -69vw;
        z-index: 12;
    }
    .logo{
        background-image: url(../imgs/logo.png);
        width: 100vw;
        height: 14vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--Black20);
        margin-top: 4vh;
        z-index: 10;
        backdrop-filter: blur(3px);
        text-align: center;
        font-size: 3vh;
        color: var(--White);
        padding-top: 12vh;
        font-family: 'ComicBook';
    }
    .Form{
        width: 100vw;
        height: 67vh;
        background-color: var(--Black20);
        padding-top: 5vh;
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .FormV{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--Black);
            border-radius: 15px;
            width: 70vw;
            padding: 2vh;
            height: 46vh;
            margin-top: 0vh;
            font-family: 'ComicBook';
            box-shadow: 0px 0px 3px var(--WhiteGreen);
            border: 1px solid var(--Green);
        }
            .Title{
                font-size: 6vh;
                color: var(--White);
                margin-top: -6vh;
                background-color: var(--Black);
                width: 59vw;
                text-align: center;
                border-radius: 6px;
                border-top: 2px solid var(--Green);
                margin-bottom: 7vh;
            }
            .Input{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 30%;
                margin-bottom: 4vh;
            }
                .LogIcon{
                    color: var(--White);
                    font-size: 5vh;
                }
                .input{
                    width: 70%;
                    height: 75%;
                    border: none;
                    padding: 1vh;
                    background-color: var(--Black);
                    border-bottom: 4px solid var(--Brown);
                    color: var(--White);
                    font-family: 'ComicBook';
                    font-size: 4vh;
                }
                    .input:focus{
                        border-bottom: 2px solid var(--Green);
                        background-color: var(--Green);
                        border-radius: 5vw 5vw 0vw 0;
                        color: var(--Black);
                    }
                    .input::placeholder{
                        color: var(--Gray);
                    }
            .Entrar{
                position: absolute;
                width: 50vw;
                height: 8vh;
                font-family: 'ComicBook';
                color: var(--Black);
                font-size: 4vh;
                border-radius: 15px;
                background-color: var(--Green);
                border: none;
                margin-top: 52vh;
            }
            .btnCad{
                position: absolute;
                width: 100vw;
                height: 7vh;
                font-family: 'ComicBook';
                color: var(--Black);
                font-size: 5vh;
                background-color: var(--Green);
                border: none;
                margin-top: 30vh;
                z-index: 5;
            }
    .cadastro{
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle at top left,transparent 9%, var(--WhiteBrown) 10% ,var(--WhiteBrown) 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, var(--WhiteBrown) 10% ,var(--WhiteBrown) 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, var(--WhiteBrown) 10% ,var(--WhiteBrown) 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, var(--WhiteBrown) 10% ,var(--WhiteBrown) 15% , transparent 16%),radial-gradient(circle, transparent 25%, var(--Brown)  26%),linear-gradient(45deg, transparent 46%, var(--WhiteBrown) 47%, var(--WhiteBrown) 52%, transparent 53%), linear-gradient(135deg, transparent 46%, var(--WhiteBrown) 47%, var(--WhiteBrown) 52%, transparent 53%);
        background-size: 4vh 4vh;
        background-color: var(--Brown);
        opacity: 1;
    }
        .X{
            position: absolute;
            width: 7vw;
            height: 7vw;
            border: none;
            background-color: var(--Invisible);
            align-items: center;
            justify-content: center;
            color: var(--White);
            font-size: 6vh;
            margin-top: -92vh;
        }
        .cadForm{
            display: flex;
            width: 100%;
            height: 54vh;
            flex-direction: column;
            align-items: end;
            background-color: var(--Black80);
        }
            .Cdinput{
                display: flex;
                margin-top: 3vh;
                height: 5vh;
                width: 90%;
                border-bottom: 3px solid var(--Black50);
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                border-radius: 10px 0px 0px 0px;
            }
                .CdIcon{
                    margin-left: -2vw;
                    margin-right: 1vw;
                    color: var(--White);
                    font-size: 4vh;
                }
                .CdInInput{
                    width: 88%;
                    padding-left: 1vw;
                    height: 100%;
                    border: none;
                    color: var(--WhiteBrown);
                    background-color: var(--Invisible);
                    font-size: 3vh;
                    font-family: 'ComicBook';
                }
                    .CdInInput:focus{
                        display: flex;
                        background-color: var(--Black);
                        border-radius: 5px 0px 0px 0px;
                        color: var(--Green);
                    }
                    .CdInInput::placeholder{
                        color: var(--colorAEx);
                    }
            .CadEnv{
                position: absolute;
                height: 10vh;
                border: none;
                width: 100vw;
                font-family: 'ComicBook';
                text-align: center;
                font-size: 5vh;
                color: var(--Black);
                background-color: var(--Green);
                margin-top: 53vh;
            }