    
     @import "vars.css";
 *{
    margin: 0px;
    padding: 0px;
    transition: all 0.25s;
    font-size: 4vh;
    font-weight: bold;
  }
  body{
    background-color: var(--cor2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.fundo_login_blur{
    background-color: black;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20vw;
}
.fundo_login{
    background-color: var(--cor3);
}
.topo_page_login{
height: 100%;
width: 100%;
}
    .topo_page_login img{
        width: 90%;
        height: 66%;
        
    }
    .topo_page_login h1{
        color: var(--corline);
        font-weight: bold;
        font-size: 9vh;
    }
.corpo_page_login{
    background-color: var(--cor2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
    .corpo_page_login input, .corpo_page_login button{
        padding: 0.3vh;
        border: none;
        border-radius: 6px;
        width: 80%;
        height: 5vh;
        text-align: center;
        outline: 4px solid;
    }
        .corpo_page_login input:focus{
            outline: none;
        }
        .corpo_page_login a{
            background-color: var(--corline);
            color: var(--corfundo);
            border-radius: 10px;
            height: 5vh;
            padding: 20px;
            padding-right: 2px;
            width: 66vw;
            margin-bottom: 40vh;
            outline: 2px solid;
        }
        .corpo_page_login input[type=email]{
            color: var(--cor2);
            background-color: #404040;
            margin-top: 20vw;
        }
        .corpo_page_login input[type=password]{
            color: var(--cor2);
            background-color: #404040;
            margin-top: 20vw;
            
        }
        .corpo_page_login button{
            border-radius: 10px;
            font-size: 2vh;
            padding: 0.5vh;
            text-decoration: none;
            color: var(--corline);
            background-color: var(--corfundo);
            width: 100%;
            text-align: center;
            outline: 2px solid;
            margin-top: 12vh;
        }
        .conteudo{
            justify-content: center;
        }
        .corpo1{
            background-color: #5E5f6D;
            height: 100%;
            width: 85%
        }
        .logo{
            width: 37vw;
            height: 25vh;
        }