@import "vars.css";

body{
	background: var(--colorAEx);
}

.topo{
	width: 100vw;
	display: flex;
	background-color: var(--text2Ex);
	height: 7vh;
	flex-direction: column;
}
	.topo-nav{
		display: flex;
		height: 100%;
		justify-content: space-around;
		background-color: var(--text2Ex);
		align-items: center;
		padding-top: 1vh;
		z-index: 10;
		padding-bottom: 1vh;
	}
		.topo-nvlogo{
			display: flex;
			width: 2vw;
			height: 2vw;
			border-radius: 25px;
			margin-left: -6vw;
			background-image: url('../imgs/logo.png');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.topo-nvlinks{
			width: 46%;
			display: flex;
			justify-content: space-around;
			height: 100%;
			align-items: center;
			color: var(--baseEx);
			margin-left: -14vw;
		}
			.Nvlink{
				font-family: 'ComicBook';
				width: 25%;
				font-size: 1em;
				text-align: center;
				color: var(--colorBEx);
				background-color: var(--transEx);
				border: none;
				transition: 0.025s;
			}
				.Nvlink:hover{
					height: 150%;
					background-color: rgba(0 0 0/ 20%);
					backdrop-filter: blur(5px);
					border-radius: 0px 0px 10px 10px;
					cursor: pointer;
				}
		.NvLupa{
			cursor: pointer;
			font-size: 1.5em;
			color: var(--colorBEx);
			margin-left: -12vw;
		}
			.NvLupa:hover{
				font-size: 2em;
			}
		.topo-nvLogin{
			width: 19%;
			height: 100%;
			border: none;
			text-align: center;
			border-radius: 20px;
			color: var(--baseEx);
			font-family: 'ComicBook';
			font-size: 1em;
			background: var(--colorAEx);
		}
			.topo-nvLogin:hover{
				width: 25%;
				cursor: pointer;
			}

.pesquisa{
	display: flex;
	background-color: var(--baseEx);
	height: 22vh;
	margin-top: 9vh;
	width: 60vw;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}
	.bars{
		display: flex;
		background-color: var(--colorBEx);
		width: 100%;
		flex-direction: column;
		height: 70%;
		align-items: center;
		border-radius: 10px;
	}
		.barA{
			display: flex;
			width: 90%;
			height: 30%;
			margin-top: 1vh;
			align-items: center;
			padding-left: 10%;
		}
			.ISearch{
				color: var(--text2Ex);
				width: 3vw;
				text-align: center;
				font-size: 3vh;
			}
			.barInputA{
				display: flex;
				height: 100%;
				width: 80%;
				border: none;
				border-radius: 10px;
				font-family: 'ComicBook';
				font-size: 2vh;
				padding-left: 1vw;
				color: var(--colorBEx);
			}
				.barInputA:hover{
					cursor: pointer;
				}
				.barInputA:focus{
					border: 3px solid var(--baseEx);
				}
			.IMenu{
				width: 2vw;
				color: var(--text2Ex);
				margin-left: 1vw;
				font-size: 3vh;
			}	
				.IMenu:hover{
					font-size: 4vh;
				}
		.barB{
			display: flex;
			border-radius: 10px;
			margin-top: 3vh;
			width: 60%;
			align-items: center;
			justify-content: space-between;
		}
			.ISearchB{
				width: 2vw;
				color: var(--text2Ex);
				font-size: 3vh;
			}
			.barInputB{
			    height: 100%;
			    width: 40%;
			    border: none;
			    border-radius: 10px;
			    font-family: 'ComicBook';
			    font-size: 2vh;
			    padding-left: 1vw;
			    color: var(--colorBEx);
			}
				.barInputB:hover{
					display: flex;
				}
				.barInputB:focus{
					border: 3px solid var(--baseEx);
				}
	.checks{
		display: flex;
		width: 100%;
		justify-content: center;
	}
		.botons{
			display: flex;
			position: absolute;
			margin: 0vh 0vw 0vh 0vw;
			width: 34vw;
			height: 13vh;
			justify-content: space-around;
		}
			.btnCheck{
				display: flex;
				clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
				width: 7vw;
				background-color: var(--baseEx);
				align-items: center;
				justify-content: center;
				font-size: 4vh;
				color: var(--colorBEx);
				border: none;
			}
				.btnCheck:hover{
					width: 10vw;
				}
				.btnAtv{
					background-color: var(--text2Ex);
				}