:root{
  /*cores para exprerimento*/
  --Black: rgb(49 45 52);
    --Black20: rgba(49 45 52/ 20%);
    --Black50: rgba(49 45 52/ 50%);
    --Black80: rgba(49 45 52/ 80%);
  --Gray: rgb(94 95 109);
  --Brown: rgb(91 75 62);
  --WhiteBrown: rgb(134 115 101);
  --Green: rgb(95 230 88);
  --WhiteGreen: rgb(193 248 181);
  --White: rgb(255 235 245);
  --Invisible: rgba(0 0 0/ 0%);
}
  *{
    margin: 0px;
    padding: 0px;
    transition: all 0.25s;
  }
  /*web-kit*/
    input[type=file]{
      display: none;
    }
    ::-webkit-inner-spin-button{

      -webkit-appearance: none;
    }
    ::-webkit-scrollbar{

      width: 8px;
    }

    ::-webkit-scrollbar-thumb{
      background: rgb(0 0 0 /50%);
      border-radius: 3px;
    }
    .ocultar{
      display: none;
    }
    button:focus, button:focus-visible, input:focus-visible, input:focus, select:focus-visible, select:focus, textarea:focus-visible, textarea:focus{
      outline: none;
    }
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: overlay;
}

@font-face{
  font-family: 'ComicBook';
  src: url('../fonts/ComicBook-j49l.ttf') format('truetype');
}